@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Desktop Header */
#header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 3vmin;
  background-color: transparent;
  overflow-x: hidden;
}

#header ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5vmin;
  list-style-type: none;
  color: rgba(80, 95, 152, 1);
}

#header h1 {
  color: rgba(55, 68, 126, 1);
  font-family: "Roboto";
  font-weight: 900;
}

#header button {
  background-color: rgba(17, 27, 71, 1);
  color: white;
  width: 25vmin;
  border: none;
  padding: 0.5vmin 1vmin;
  border-radius: 2px;
}

#header ul li {
  cursor: pointer;
}

#header ul li:hover {
  color: rgba(55, 68, 126, 1);
}

#headerMobile {
  display: none;
  width: 100%;
  background-color: rgba(231, 236, 255, 1);
  padding: 3vmin;
  transform-origin: top;
  position: relative;
  z-index: 1100;
}

#mobileNavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#headerMobile h1 {
  font-family: "Roboto", sans-serif;
  color: rgba(55, 68, 126, 1);
}

.menu-icon {
  background: none;
  border: none;
  font-size: 6vmin;
  cursor: pointer;
  color: rgba(17, 27, 71, 1);
}

.mobileMenu {
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 2vmin;
  padding: 3vmin;
  background-color: rgba(231, 236, 255, 1);
  width: 100%;
  text-align: center;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;

  opacity: 0;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.mobileMenu.open {
  display: flex;
  opacity: 1;
  transform: scaleY(1);
}

.mobileMenu ul {
  list-style-type: none;
  padding: 0;
}

.mobileMenu ul li {
  margin: 1vmin 0;
  cursor: pointer;
  color: rgba(80, 95, 152, 1);
}

.mobileMenu button {
  background-color: rgba(17, 27, 71, 1);
  color: white;
  padding: 1vmin 2vmin;
  margin-top: 2vmin;
}

/* MEDIA QUERIES */

/* Mobile View */
@media (max-width: 768px) {
  #header {
    display: none; /* Hide desktop header on mobile */
  }

  #headerMobile {
    display: flex; /* Show mobile header */
    flex-direction: column;
  }
}
